@import "layout";
@import "variables";
@import "product";
@import "cart";
@import "header";
@import "footer";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

.btn-action {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
