.products {
  padding: 1.5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .product {
    width: 225px;
    background-color: #fff;
    box-shadow: $box-shadow-dark;
    border-radius: 3px;
    margin: 0 1.2rem;

    &__image {
      display: inline-block;
      height: 150px;
      max-width: 225px;
      border-radius: 3px;
    }

    &__details {
      padding: .5rem 1rem;
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    &__description {
    }

    &__price {
    }

    &__action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      &-addToCart {
        outline: none;

      }

      &-count {

      }
    }
  }
}
