$color-primary-1: #389393;
$color-primary-2: #fa7f72;
$color-primary-3: #f5a25d;

$color-text-light: #495464;
$color-text-dark: #1c2b2d;

$background-light: #ebebeb;
$background-dark: #dadcde;

$box-shadow-light:  0 1rem 5rem rgba(0,0,0, .1);
$box-shadow-dark:  0 1rem 2rem rgba(0,0,0, .2);


$font-family: 'Roboto Mono', monospace;
